<ion-header>
  <ion-toolbar>
    <ion-title>
      JSON request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="perfomRequest()">
    <ion-item>
      <ion-label>Request body. Must be a valid JSON.</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea name="jsonBody" (input)="updateJsonBody($event.target.value)" [(ngModel)]="jsonBody" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form>
</ion-content>
