<ion-header>
  <ion-toolbar>
    <ion-title>
      JSON request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="perfomRequest()">
    <ion-item>
      <ion-label>Request body. Must be a valid JSON.</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea
        rows="8"
        mode="ios"
        autoGrow="true"
        name="jsonBody"
        (input)="updateJsonBody($event.target.value)"
        [(ngModel)]="jsonBody"
        placeholder="Put your workflow's trigger data here..."></ion-textarea>
    </ion-item>
    <ion-button size="large" expand="full" type="submit">Trigger</ion-button>
  </form>
</ion-content>
